<!-- Feedback List -->
<div th:fragment="feedback-list">
    <div th:each="feedback : ${feedbackList}" th:if="${!feedbackList.isEmpty()}">
        <hr>
        <form th:replace="/update :: update-form"></form>
    </div>
    <p th:if="${feedbackList.isEmpty()}">No feedback yet...</p>

    <nav>
        <ul class="pagination">
            <li th:class="${feedbackList.hasPrevious()} ? 'page-item' : 'page-tiem disabled'">
                <a th:href="@{/app(page=${feedbackList.number - 1})}" th:class="'page-link'">&lt&lt</a>
            </li>
            <li th:each="page : ${#numbers.sequence(1, feedbackList.getTotalPages(), 1)}"
                th:class="${page == (feedbackList.number + 1)}? 'page-item active' : 'page-item'">
                <a th:class="'page-link'" th:text="${page}" th:href="@{/app(page=${page - 1})}"></a>
            </li>
            <li th:class="${feedbackList.hasNext()} ? 'page-item' : 'page-item disabled'">
                <a th:href="@{/app(page=${feedbackList.number + 1})}" th:class="'page-link'">&gt&gt</a>
            </li>
        </ul>
    </nav>

</div>

<!-- Feedback Create Form -->
<form th:action="@{/feedback/post}" method="POST" th:object="${feedback}" th:fragment="feedback-form">
    <!--    <input type="hidden" th:field="*{id}">-->
    <table>
        <tbody>
        <tr>
            <td>
                <label for="score">Score</label>
            </td>
        </tr>
        <tr>
            <td>
                <select id="score" th:field="*{score}">
                    <option th:each="number: ${#numbers.sequence(1,5,1)}" th:value="${number}"
                            th:text="${number}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="author">Author</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="author" th:field="*{author}">
            </td>
        </tr>

        <tr>
            <td>
                <label for="feedback">Feedback</label>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="feedback" th:field="*{comment}"></textarea>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Comment">
            </td>
        </tr>
        <input type="hidden" th:field="*{likes}" value=0>
        </tbody>
    </table>
</form>