<form th:action="@{/feedback/{id}/like(id=${feedback.id})}" method="POST" th:fragment="update-form" th:object="${feedback}">
    <table>
        <input type="hidden" th:name="'id'" th:value="${feedback.id}">
        <tbody>
        <tr>
            <td th:text="'+'+${feedback.score}"></td>
            <td th:text="${feedback.author}+': '"></td>
            <td th:text="${feedback.comment}"></td>
        </tr>
        <tr>
            <td th:text="${feedback.likes}+' likes'"></td>
            <td>
                <input type="submit" value="Like">
            </td>
        </tr>
        </tbody>
    </table>
</form>
